<%- include header %>
<form action="" method="post">
    <label for="name">用户名：</label>
    <input type="text" name="name"> <br>
    <label for="password">密码：</label>
    <input type="passwrd" name="password"> <br>
    <label for="password-repeat">确认密码：</label>
    <input type="passwrd" name="password-repeat"> <br>
    <label for="email">邮箱：</label>
    <input type="text" name="email"> <br>
    <input type="submit" value="注册">
</form>
<%- include footer %>